[build]
  base = "frontend-react"
  command = "npm run build"
  publish = "frontend-react/dist"

[build.environment]
  NODE_VERSION = "18"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[context.production.environment]
  VITE_API_URL = "https://myclinic-api-five.vercel.app/api"
